<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    th:insert="~{common/layouts/host-layout :: host-layout (~{::head}, ~{::section})}">

  <head>
  </head>

  <section>
    <!-- 페이지 이름 -->
    <p class="page-name">호스트 관리 페이지 홈</p>

    <!-- main 시작 -->
    <div class="home-wrap">
      <div class="item align">
        <div class="item home">
          <p class="item-subject">누적 판매금액</p>
          <p class="item-content">000,000 원</p>
        </div>
      </div>
      <div class="item align">
        <div class="item home">
          <p class="item-subject">이번달 판매금액</p>
          <p class="item-content">000,000 원</p>
        </div>
      </div>
      <div class="item align">
        <div class="item home">
          <p class="item-subject">전체 결제 건수</p>
          <p class="item-content">00 건</p>
        </div>
      </div>
      <div class="item align">
        <div class="item home">
          <p class="item-subject">이번달 취소 건수</p>
          <p class="item-content">00 건</p>
        </div>
      </div>
      <div class="item align">
        <div class="item home">
          <p class="item-subject">전체 리뷰수</p>
          <p class="item-content">00 건</p>
        </div>
      </div>
      <div class="item align">
        <div class="item home">
          <p class="item-subject">평균 평점</p>
          <p class="item-content">0.00</p>
        </div>
      </div>
    </div>
    <!-- main 종료 -->
  </section>
