<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/host/bootstrap.journal.min.css">
    <link rel="stylesheet" href="/css/host/custom.min.css">
    <link rel="stylesheet" href="/css/host/host-join.css">
    <script src="/js/host/bootstrap.bundle.min.js"></script>
    <script src="/js/host/jquery-3.6.4.min.js"></script>
    <script src="/js/host/host-info-validation.js"></script>
    <script src="/js/host/host-join.js"></script>
    <title>호스트 어드민</title>
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/habit_logo.png" alt="HABIT" width="100px"></a>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="../home.html" style="font-size: larger;">호스트 지원</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr>
    <!-- main 시작 -->
    <form>
      <div class="content-wrap">
        <!-- 프로필 관리 -->
        <div class="content">
          <p class="content-name">호스트 정보</p>
          <!-- 프로필 관리 form 시작 -->
          <!-- 프로필 사진 -->
          <div class="content-flex">
            <div class="item-name">
              <p>프로필 사진</p>
            </div>
            <div class="item2">
              <div class="img-container">
                <img src="/img/host_default_img.webp" id="preview" alt="">
              </div>
              <div>
                <input class="form-control" type="file" id="image" accept="image/*" onchange="previewProfile(this)">
                <small class="error-message">용량 2MB 이하의 jpg, png 파일만 업로드 가능합니다.</small>
                <div class="item2-info">
                  <p>용량 2MB 이하 jpg, png</p>
                  <p>미 선택시 호스트 기본 이미지로 지정됩니다.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- 호스트 명 -->
          <div class="content-flex">
            <div class="item-name">
              <p>호스트 닉네임</p>
            </div>
            <div class="item2">
              <div style="display: flex">
                <input type="text" class="form-control" id="nick-name" placeholder="닉네임 (2자 이상)" maxlength=25 oninput="nickNameValidation()">
                <button type="button" class="btn btn-sm btn-primary duplicate-button" id="nick_name_duplicate_check_button" onclick="nickNameDuplicateCheck()">중복확인</button>
              </div>
              <small class="error-message"></small>
              <div class="success-message" id="nick_name_duplicate_success">✔사용 가능한 닉네임 입니다</div>
              <div class="item2-info">
                <p>해빗 회원에게 보여지는 닉네임 입니다.</p>
              </div>
            </div>
          </div>
          <hr>
          <!-- 이메일 -->
          <div class="content-flex">
            <div class="item-name">
              <p>이메일</p>
            </div>
            <div class="item2">
              <input type="email" class="form-control" id="email" placeholder="이메일 주소" oninput="emailValidation()">
              <small class="error-message"></small>
              <div class="item2-info">
                <p>해당 메일로 공지사항 및 상품 수정 요청 등 중요 알림이 발생됩니다.</p>
                <p>미입력 시 인증한 이메일이 노출됩니다.</p>
              </div>
            </div>
          </div>
          <hr>
          <!-- 공개 연락처 -->
          <div class="content-flex">
            <div class="item-name">
              <p>공개 연락처</p>
            </div>
            <div class="item2">
              <input type="text" class="form-control" id="phone" placeholder='연락처 ("-" 제외하고 입력)' oninput="phoneValidation()">
              <small class="error-message"></small>
              <div class="item2-info">
                <p>해빗 회원에게 노출되는 공개 연락처입니다.</p>
                <p>미입력 시 인증한 연락처가 노출됩니다.</p>
              </div>
            </div>
          </div>
          <hr>
          <!-- 소개 -->
          <div class="content-flex">
            <div class="item-name">
              <p>소개</p>
            </div>
            <div class="item2">
              <textarea class="form-control" id="introduction" cols="30" rows="5" placeholder="간단한 소개와 약력을 입력해 주세요. (5자 이상)" style="resize: none;" oninput="introductionValidation()"></textarea>
              <div class="content-flex" style="justify-content: space-between; align-items: center">
                <div>
                  <small class="error-message"></small>
                </div>
                <p class="item2-info"><span id="introduction-length">0</span>/500</p>
              </div>
              <p>소개 예시보기</p>
              <div class="item2-info">
                <p>해빗 회원에게 호스트님을 소개해 주세요.</p>
                <p>호스트님만의 개성을 담거나, 신뢰감을 줄 수 있는 전문적인 사항들을 입력하시면 좋습니다.</p>
              </div>
              <p style="color: red; font-size: small;">
                * 경력, 보유 자격증, 수상 이력, 대외 활동 등<br>
                * 개인 연락처(전화번호, 카카오톡 ID, 개인 SNS, 홈페이지 등은 입력할 수 없습니다.
              </p>
            </div>
          </div>
        </div>
        <!-- 정산 관리 -->
        <div class="content">
          <p class="content-name">정산 관리</p>
          <!-- 수수료 -->
          <div class="content-flex">
            <div class="item-name">
              <p>수수료</p>
            </div>
            <div class="item2">
              <p>20%</p>
            </div>
          </div>
          <hr>
          <!-- 입금계좌 -->
          <div class="content-flex">
            <div class="item-name">
              <p>입금 계좌</p>
            </div>
            <div class="item2">
              <div>
                <div>
                  <select id="bank" class="form-select" style="width: 150px;" onchange="selectBankValidation()">
                    <option value="0">은행 선택</option>
                  </select>
                </div>
              </div>
              <div style="display: flex; flex-wrap: wrap;">
                <div>
                  <input type="text" class="form-control" id="account-holder" placeholder="예금주 (2자 이상)" style="width:150px;" oninput="accountHolderValidation()">
                </div>
                <div>
                  <input type="text" class="form-control" id="account-number" placeholder='계좌 번호 ("-" 제외하고 입력)' style="width:350px; margin: 0 15px;" oninput="accountNumberValidation()">
                </div>
              </div>
              <div>
                <small class="error-message"></small>
              </div>
              <div>
                <div class="item2-info">
                  <p>- 사업자 계좌의 경우 대표자명과 업체명을 입력해주세요.</p>
                  <p>- 공백 없이 최대 10글자를 입력해주세요.</p>
                  <br>
                  <p>[작성 예시]</p>
                  <p>사업자 등록증의 대표자명이 "김해빗" 이고, 업체명이 "주식회사 해빗브로커" 인 경우,</p>
                  <p>아래와 같이 괄호 포함하여 정확히 10글자를 작성해주시기 바랍니다.</p>
                  <p>- 예금주 : 김해빗(주)해빗브로</p>
                </div>
              </div>
              <div>
                <p style="color: red; font-size: small;">정산계좌 변경 시 다음 정산부터 변경된 계좌로 정산됩니다.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2" style="margin: 20px 0 40px;">
        <input type="button" class="btn btn-lg btn-outline-primary" value="호스트 지원" id="host-join-submit-button">
      </div>
    </form>
    <!-- main 종료 -->
  </div>

  <!--footer 시작-->
  <footer>
    <div class="footer">
      <div class="footer_wrap">
        <div>
          <strong>(주) Habit Broker</strong>
        </div>
        <div>
          깃허브 : <a href="https://github.com/newnyee/refactoring-habit">https://github.com/newnyee/refactoring-habit</a>
        </div>
        <div>
          <div>대표 : kim-jin | 개인정보 관리 책임자 : kim-jin</div>
        </div>
        <div>
          <a>개인정보 처리방침</a> |
          <a>이용약관</a> |
          <span>개인정보취급책임자 : kim-jin</span>
        </div>
        <div>
          <br>COPYRIGHT &copy;HABIT
        </div>
      </div>
    </div>
  </footer>
  <!--footer 종료-->
  </body>
</html>