.show_userInfo{
  display: none;
  position: absolute;
  background-color: rgba(255, 209, 213, 0.82);
  border: none;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  padding: 15px;
}

.hide_user{
  position: absolute;
  right: 4px;
  top:2px;
  font-size: 16px;
}

.show_userwrapper{
  background-color: rgba(255, 255, 255, 0.89);
  height: 100%;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.show_userwrapper > div {
  margin: 10px;
}

.user_sub{
  font-weight: 600;
  margin-bottom: 2px;
}

.user_info{
  font-size: 14px;
  margin-bottom: 2px;
}

tr:hover td{
  background-color: rgba(252, 242, 246, 0.61);
}