<!--Thymeleaf, headFragment 선언-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="basic-config-fragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/member/reset.css">
    <link rel="stylesheet" href="/css/member/common.css">
    <script src="/js/member/jquery-3.6.4.min.js"></script>
    <script src="/js/member/jquery.cookie.js"></script>
    <script src="/js/member/common.js"></script>
</th:block>