<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/cart.css}">
    <script th:src="@{/js/member/cart.js}"></script>
  </head>

  <title>장바구니 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <div class="Home_sub">장바구니</div>
    <hr>
    <div class="Home_form">
    </div>
    <script th:inline="javascript">
      let memberAltId = [[${memberAltId}]]
    </script>
  </section>
</th:block>
