<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/find-password.css}">
    <script th:src="@{/js/member/find-password.js}"></script>
  </head>

  <title>비밀번호 찾기 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section>
    <!-- 본문 시작 -->
    <div id="div_load_img">
      <div id="load_img_container">
        <img src="/img/loading.gif" style="width: 70px; height: 70px;">
      </div>
    </div>
    <div class="Home">
      <div class="Home_sub">
        비밀번호 임시 발급
      </div>
      <hr>
      <div class="Home_form_wrapper">
        <div id="sendEmailContainer">
          <div class="Home_ment">
            회원 정보에 등록된 이메일
          </div>
          <div>
            <div class="Home_select" id="found_email"></div>
            <button class="Home_btn" id="sendEmail">임시 비밀번호 발송</button>
          </div>
        </div>
        <!--전송 완료시-->
        <div id="result" hidden>
          <div>전송이 완료되었습니다. 임시 비밀번호를 확인해주세요.</div>
          <div class="warning-message">3분이 지나도 이메일이 오지 않으면 다시 요청해주세요.</div>
          <button class="Home_btn" onclick="location.href='/login'">로그인 하기</button>
        </div>
      </div>
    </div>
    <!-- 본문 끝 -->
  </section>
</th:block>