<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/find-member.css}">
    <script th:src="@{/js/member/find-member.js}"></script>
  </head>

  <title>아이디/비밀번호 찾기 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section>
    <!-- 본문 시작 -->
    <div class="Home">
      <div class="Home_wrapper">
        <div>
          <div class="Home_sub">아이디 / 비밀번호 찾기</div>
          <div class="Home_ment">가입 시 입력한 휴대폰번호와 생년월일을 입력해주세요</div>
          <div class="Home_form">
            <input type="text" id="phone" class="Home_input" placeholder="휴대폰 번호">
            <div class="error-message" id="phone-error-message"></div>
            <input type="date" id="birth" class="Home_input" onchange="birthValidation()">
            <div class="error-message" id="birth-error-message"></div>
            <div class="error-message" id="result-error-message"></div>
            <div class="center_sort">
              <button class="Home_submit" id="id">아이디 찾기</button>
              <button class="Home_submit" id="password">비밀번호 찾기</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>
    </div>
    <!-- 본문 끝 -->
  </section>
</th:block>