<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/member-login.css}">
  </head>

  <title>로그인 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <div class="Home_top">
      <h3>로그인</h3>
    </div>
    <div class="Home_loginForm">
      <form action="">
        <div class="Home_loginForm_input"><input type="text" placeholder="아이디(이메일)"></div>
        <div class="Home_loginForm_input"><input type="text" placeholder="비밀번호"></div>
        <a href="member-join.html" class="Home_find_a1">회원가입</a> |
        <a href="find-member.html" class="Home_find_a2">아이디/비밀번호 찾기</a><br>
        <button class="Home_login_btn">로그인</button>
      </form>
    </div>
  </section>
</th:block>