<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/member-password-change.css}">
    <script th:src="@{/js/member/member-password-change.js}"></script>
  </head>

  <title>내 정보 수정 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <div>
      <form>
        <h3 class="Home_top">비밀번호 변경</h3>
        <div class="Home_form">
          <div class="Home_form_div">
            <div>새로운 비밀번호 입력</div>
            <input type="password" name="password" id="password" class="Home_form_input" placeholder="비밀번호 (8자리 이상)" onchange="passwordValidation()">
            <div class="error-message"></div>
          </div>
          <div class="Home_form_div">
            <div>비밀번호 재입력</div>
            <input type="password" name="checkPassword" id="password_match" class="Home_form_input" placeholder="비밀번호 확인 (8자리 이상)" onchange="passwordMatch()">
            <div class="error-message"></div>
          </div>
          <div>
            <button type="button" id="updatePasswordButton" class="Home_new_btn">비밀번호 변경</button>
          </div>
        </div>
      </form>
    </div>
    <script th:inline="javascript">
      let altId = [[${memberAltId}]]
    </script>
  </section>
</th:block>