<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/member-join.css}">
    <script th:src="@{/js/member/member-join.js}"></script>
  </head>

  <title>회원 가입 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <!-- 본문 시작 -->
      <div>
        <h3 class="Home_top">회원가입</h3>
        <div class="Home_form">
          <div class="Home_form_div">
            <div>이메일</div>
            <div>
              <div style="display: flex; justify-content: space-between">
                <input type="text" class="Home_form_input" id="email" placeholder="대소문자, 숫자, 특수문자 포함 7자 이상" onchange="emailValidation()">
                <button id="idCheck" type="button" onclick="checkEmail()">중복확인</button><br>
              </div>
              <div class="error-message">dddd</div>
            </div>
          </div>
          <div class="Home_form_div">
            <div>비밀번호</div>
            <input type="password" class="Home_form_input" id="password" placeholder="띄어쓰기 미포함 8자 이상" onchange="passwordValidation()">
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div">
            <div>비밀번호 확인</div>
            <input type="password" class="Home_form_input" id="password_match" placeholder="띄어쓰기 미포함 8자 이상" onchange="passwordMatch()">
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div">
            <div>닉네임</div>
            <input type="text" class="Home_form_input" id="nick_name" placeholder="2자이상 입력" onchange="nickNameValidation()">
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div">
            <div>성별</div>
            <div>
              <input type="radio" name="gender" id="gender_male" value="MALE">
              <label for="gender_male">남</label>&nbsp;&nbsp;
              <input type="radio" name="gender" id="gender_female" value="FEMALE">
              <label for="gender_female">여</label>
            </div>
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div">
            <div>휴대폰 번호</div>
            <input type="number" name="phone" class="Home_form_num" onchange="phoneNumberLengthLimit()"> -
            <input type="number" name="phone" class="Home_form_num" onchange="phoneNumberLengthLimit()"> -
            <input type="number" name="phone" class="Home_form_num" onchange="phoneNumberLengthLimit()">
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div">
            <div>생년월일</div>
            <input type="date" id="birth" class="Home_form_date" onchange="birthValidation()">
            <div class="error-message">dddd</div>
          </div>
          <div class="Home_form_div_p">
            <div>프로필 이미지</div>
            <div class="Home_form_profile">
              <img src="/img/noimg.png" alt="" id="preview" class="Home_proimg">
            </div>
            <div class="Home_form_profile">
              <input type="file" id="profile_img_file" class="Home_form_file" accept="images/*" onchange="previewProfile(this)">
            </div>
            <div class="error-message">dddd</div>
          </div>
          <div>
            <div>
              <button class="Home_new_btn" onclick="joinValidation()">회원가입</button>
            </div>
          </div>
        </div>
      </div>
    <!-- 본문 끝-->
  </section>
</th:block>