<th:block xmlns:th="http://www.thymeleaf.org"
          th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/member-info-edit.css}">
    <script th:src="@{/js/member/member-info-edit.js}"></script>
  </head>

  <title>내 정보 수정 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home" th:object="${updateInfoDto}">
    <div>
      <form action="" enctype="multipart/form-data">
        <h3 class="Home_top">내 정보 수정</h3>
        <div class="Home_form">
          <input type="hidden" th:field="*{altId}">
          <div class="Home_form_div Home_myinfo">
            <label for="profileImageFile">
              <img class="Home_proimg" th:id="preview" th:if='${#strings.equals(updateInfoDto.profileImage(), "member_default_img.png")}' th:src="@{/img/{fileName}(fileName=*{profileImage})}">
              <img class="Home_proimg" th:id="preview" th:unless='${#strings.equals(updateInfoDto.profileImage(), "member_default_img.png")}' th:src="@{/storage/{fileName}(fileName=*{profileImage})}">
              <div>
                <img src="/img/camera.png" alt="" class="Home_proimg_change">
              </div>
            </label>
            <input type="file" id="profileImageFile" name="profileImageFile" class="Home_pro_imgFile" accept="image/*" style="display: none" onchange="previewProfile(this)">
            <div class="error-message"></div>
          </div>
          <div class="Home_form_div">
            <div>아이디</div>
            <input type="text" class="Home_form_input" th:field="*{email}" disabled>
          </div>
          <div class="Home_form_div">
            <div>닉네임</div>
            <input type="text" class="Home_form_input" placeholder="닉네임 (2자 이상)" th:field="*{nickName}" onchange="nickNameValidation()">
            <div class="error-message"></div>
          </div>
          <div class="Home_form_div">
            <div>성별</div>
            <div>
              <input type="radio" th:field="*{gender}" id="gender-male" value="MALE">
              <label for="gender-male">남</label>&nbsp;&nbsp;
              <input type="radio" th:field="*{gender}" id="gender-female" value="FEMALE">
              <label for="gender-female">여</label>
            </div>
          </div>
          <div class="Home_form_div">
            <div>휴대폰 번호</div>
            <input type="text" class="Home_form_input" placeholder='휴대폰 번호 ("-" 제외하고 입력)' th:field="*{phone}" onchange="phoneValidation()">
            <div class="error-message"></div>
          </div>
          <div class="Home_form_div">
            <div>생년월일</div>
            <input type="date" id="" th:field="*{birth}" class="Home_form_date" onchange="birthValidation()">
            <div class="error-message"></div>
          </div>
          <div>
            <button type="button" id="memberInfoUpdateButton" class="Home_new_btn">내 정보 수정</button>
          </div>
        </div>
      </form>
      <hr>
      <form>
        <h3 class="Home_top">비밀번호 재설정</h3>
        <div class="Home_form">
          <div class="Home_form_div">
            <div>새로운 비밀번호 입력</div>
            <input type="password" name="password" id="password" class="Home_form_input" placeholder="비밀번호 (8자리 이상)" onchange="passwordValidation()">
            <div class="error-message"></div>
          </div>
          <div class="Home_form_div">
            <div>비밀번호 재입력</div>
            <input type="password" name="checkPassword" id="password_match" class="Home_form_input" placeholder="비밀번호 확인 (8자리 이상)" onchange="passwordMatch()">
            <div class="error-message"></div>
          </div>
          <div>
            <button type="button" id="updatePasswordButton" class="Home_new_btn">비밀번호 재설정</button>
          </div>
        </div>
      </form>
    </div>
    <script th:inline="javascript">
      var altId = [[${updateInfoDto.altId}]]
    </script>
  </section>
</th:block>