<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/member-join.css}">
    <script th:src="@{/js/member/member-join.js}"></script>
  </head>

  <title>회원 가입 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <!-- 본문 시작 -->
    <div>
      <h3 class="Home_top">회원가입</h3>
      <div class="Home_form">
        <div class="Home_form_div">
          <div>이메일</div>
          <div>
            <div style="display: flex; justify-content: space-between">
              <input type="text" class="Home_form_input" id="email" placeholder="이메일 주소" onchange="emailValidation()">
              <button class="check-email" id="checkEmail" onclick="checkEmail()">중복확인</button><br>
            </div>
            <div class="error-message"></div>
            <div class="check-email-submit-message">✔사용 가능한 이메일 입니다</div>
          </div>
        </div>
        <div class="Home_form_div">
          <div>비밀번호</div>
          <input type="password" class="Home_form_input" id="password" placeholder="비밀번호 (8자리 이상)" onchange="passwordValidation()">
          <div class="error-message"></div>
        </div>
        <div class="Home_form_div">
          <div>비밀번호 확인</div>
          <input type="password" class="Home_form_input" id="password_match" placeholder="비밀번호 확인 (8자리 이상)" onchange="passwordMatch()">
          <div class="error-message"></div>
        </div>
        <div class="Home_form_div">
          <div>닉네임</div>
          <input type="text" class="Home_form_input" id="nick_name" placeholder="닉네임 (2자 이상)" onchange="nickNameValidation()">
          <div class="error-message"></div>
        </div>
        <div class="Home_form_div">
          <div>성별</div>
          <div>
            <input type="radio" name="gender" id="gender_male" value="MALE" checked>
            <label for="gender_male">남</label>&nbsp;&nbsp;
            <input type="radio" name="gender" id="gender_female" value="FEMALE">
            <label for="gender_female">여</label>
          </div>
        </div>
        <div class="Home_form_div">
          <div>휴대폰 번호</div>
          <input type="text" class="Home_form_input" id="phone" name="phone" placeholder='휴대폰 번호 ("-" 제외하고 입력)' onchange="phoneValidation()">
          <div class="error-message"></div>
        </div>
        <div class="Home_form_div">
          <div>생년월일</div>
          <input type="date" id="birth" class="Home_form_date" onchange="birthValidation()">
          <div class="error-message"></div>
        </div>
        <div class="Home_form_div">
          <div>프로필 이미지</div>
          <div class="Home_form_profile">
            <img src="/img/noimg.png" alt="" id="preview" class="Home_proimg">
            <input type="file" id="profile_img_file" class="Home_form_file" accept="images/*" onchange="previewProfile(this)">
          </div>
          <div class="error-message"></div>
        </div>
        <div>
          <div>
            <button class="Home_new_btn" id="join-submit-button">회원가입</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 본문 끝-->
  </section>
</th:block>
