<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}">
    <script th:src="@{/js/member/mypage.js}"></script>
  </head>

  <title>마이페이지 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home" th:object="${memberInfo}">
    <h1 style="font-size: 20px; font-weight: bold; margin-top: 20px">
      마이페이지
    </h1>
    <hr style="border-width: 1.5px"/>
    <div class="Home_myinfo">
      <div class="Home_myinfo_img">
        <img class="update-my-info" th:if='${#strings.equals(memberInfo.profileImage, "member_default_img.png")}' th:src="@{/img/{fileName}(fileName=${memberInfo.profileImage})}">
        <img class="update-my-info" th:unless='${#strings.equals(memberInfo.profileImage, "member_default_img.png")}' th:src="@{/storage/{fileName}(fileName=${memberInfo.profileImage})}">
      </div>
      <div class="Home_myinfo_name"><span class="update-my-info nick-name" th:text="${memberInfo.nickName}"></span> 님</div>
      <div class="Home_myinfo_name2"><span class="update-my-info" id="memberInfoButton">내 정보 수정 ></span></div>
    </div>
    <hr>
    <div class="Home_myact">
      <div class="Home_myact_name">내 활동</div>
      <a href="/my-page/review/list"><div class="Home_myact_order">리뷰 관리</div></a>
      <a href="/my-page/order/list"><div class="Home_myact_order">결제 내역</div></a>
    </div>
    <hr>
    <div class="Home_myact">
      <div class="Home_myact_name">호스트</div>
      <a th:href='${#strings.equals(memberInfo.type, "HOST") ? "/host" : "/host/join"}'>
        <div class="Home_myact_order" th:text='${#strings.equals(memberInfo.type, "HOST") ? "호스트 센터" : "호스트 지원"}'></div>
      </a>
    </div>
  </section>
</th:block>