<th:block lang="ko"
          xmlns:th="http://www.thymeleaf.org"
          th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/wish.css}">
    <link rel="stylesheet" th:href="@{/css/product/product-card.css}">
    <script th:src="@{/js/member/wish.js}"></script>
    <script th:src="@{/js/member/common/product-card.js}"></script>
  </head>

  <title>찜 목록 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="Home">
    <div class="Home_sub">찜 목록</div>
    <hr>
    <!--본컨텐츠-->
    <div class="card-product-list-wrapper">
    </div>
    <!-- 페이징 -->
    <div>
      <div class="Wrapper_Paging">
        <div class="paging">
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      let memberAltId = [[${memberAltId}]]
    </script>
  </section>
</th:block>
