<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div style="margin:0px; width:100%; background-color:#F2F0FF; padding:0px; padding-top:8px;">
  <table
      style="width: 512px; align-content: center; position: relative; overflow: hidden; background: #fff;
        margin: 0px auto; max-width:512px; background-color:#ffffff; padding:0px">
    <tr>
      <td style="height: 49px;">
        <img src="https://github.com/newnyee/refactoring-habit/assets/121937711/84861673-dda3-4931-a592-0ae288439cbf" style="width: 80px; vertical-align: middle;"/>
        <p style="font-size: 20px; font-weight: 700; text-align: left; color: #140f33; display: inline-block; vertical-align: middle; margin-left: 10px;">임시 비밀번호 발급</p>
      </td>
    </tr>
    <!--구분선-->
    <tr>
      <td colspan="2" style="background-color: lightgray; margin-bottom: 10px;"></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center;">
        <p>임시 비밀번호 10자리는 아래와 같습니다</p>
        <p><strong th:text="${newPassword}"></strong></p>
        <p style="font-size: small; color: gray;">habit 로그인 후 비밀번호를 변경하시기 바랍니다</p>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="background-color: lightgray; margin-bottom: 10px;"></td>
    </tr>
    <tr>
      <td colspan="2" style="font-size: 14px; font-weight: 300; text-align: center; color: #686868; padding-top: 5px;">
        © 2024 HABIT, All rights reserved
      </td>
    </tr>
  </table>
</div>
</body>
</html>