<th:block lang="ko"
          xmlns:th="http://www.thymeleaf.org"
          th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/member/error.css}">
  </head>

  <title>내부 서버 오류</title>

  <section class="Home">
    <div class="PageWrapper" style="text-align: center;">
      <div class="error-img"><img src="/img/500.png" alt="500 오류"></div>
      <div class="error-words"><span>Internal server Error</span></div>
    </div>
  </section>
</th:block>