<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/product/category-list.css}">
  </head>

  <title>카테고리 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="PageWrapper">
    <div class="Padded">
      <h1 class="Left-LeftPageTitle">카테고리</h1>

      <div class="category-list-wrapper">
        <div class="category-wrapper" th:each="category : ${categories}">
          <a th:href="@{/category/{categoryEngName}(categoryEngName=*{category.engName()})}">
            <div>
              <img th:src="@{/img/category-img/{image}(image=*{category.image()})}" class="category-image">
              <div class="category-image-background"></div>
            </div>
            <div class="category-name-wrapper">
              <span class="category-name" th:text="*{category.name()}"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</th:block>