<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/product/product-list.css}">
    <link rel="stylesheet" th:href="@{/css/product/product-card.css}">
    <script th:src="@{/js/product/product-list.js}"></script>
    <script th:src="@{/js/product/product-card.js}"></script>
  </head>

  <title>해빗 목록 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="PageWrapper">
    <!-- 대분류 카테고리 이름 -->
    <div class="CategoryNav_Wrapper">
      <span th:text="${categoryLarge.name}"></span>
      <img src="/img/accordion_arrow2.svg">
    </div>
    <!-- 중분류 목록 -->
    <div>
      <div class="ItemList_Wrapper">
        <a th:href="@{/category/{categoryLargeName}(categoryLargeName=${categoryLarge.engName})}"
           th:class="category-middle-name" th:classappend="${#strings.equals(categoryName, categoryLarge.engName)?'now':''}">전체</a>
        <a th:each="categoryMiddle : ${categoryLarge.categoryMiddleList}"
           th:href="@{/category/{categoryLargeName}/{categoryMiddleName}(categoryLargeName=${categoryLarge.engName}, categoryMiddleName=${categoryMiddle.engName})}"
           th:text="${categoryMiddle.name}"
           th:class="category-middle-name" th:classappend="${#strings.equals(categoryName, categoryMiddle.engName)?'now':''}"></a>
      </div>
    </div>
    <!-- 필터 버튼 -->
    <div class="Filter__FilterButtonWrapper">
      <button class="FilterOpenButton">필터</button>
      <span class="filter-selected-value"></span>
    </div>
    <!-- 필터 모달창-->
    <div class="Filter_Container_Modal">
      <div class="Filter_Wrapper_Modal">
        <header class="Filter_HeaderWrapper">
          <div class="FilterModalHeader_ModalTitle">필터</div>
          <button type="button" class="Filter_Button filter-close">
            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='nonzero'%3E %3Cpath d='M0 0h24v24H0z'/%3E %3Cpath stroke='%23000' stroke-width='2' d='M7.05 7.05l9.9 9.9M16.95 7.05l-9.9 9.9'/%3E %3C/g%3E %3C/svg%3E" alt="닫기버튼">
          </button>
        </header>
        <div class="FilterBodyContainer">
          <div class="FilterOther_Momo">
            <div class="FilterOther_ModalSection">
              <div>
                <div class="FilterOthers_FilterTitle">정렬</div>
                <div class="FilterRadio">
                  <div class="FilterRadio_RadioInput">
                    <div class="radio-box">
                      <label class="filter-radio">
                        <span>등록일순</span>
                        <input type="radio" name="filter" value="createAt" checked>
                      </label>
                    </div>
                    <div class="radio-box">
                      <label class="filter-radio">
                        <span>인기순</span>
                        <input type="radio" name="filter" value="popular">
                      </label>
                    </div>
                    <div class="radio-box">
                      <label class="filter-radio">
                        <span>평점순</span>
                        <input type="radio" name="filter" value="reviewAverage">
                      </label>
                    </div>
                    <div class="radio-box">
                      <label class="filter-radio">
                        <span>가격 높은순</span>
                        <input type="radio" name="filter" value="maxPrice">
                      </label>
                    </div>
                    <div class="radio-box">
                      <label class="filter-radio">
                        <span>가격 낮은순</span>
                        <input type="radio" name="filter" value="minPrice">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="Filter_FooterWrapper">
            <button class="Button_btn filter-button">적용하기</button>
          </footer>
        </div>
      </div>
      <div class="Filter_Overlay"></div>
    </div>
    <!-- 중분류 카테고리 이름 -->
    <div class="ProductSectionHeader_Wrapper">
      <div class="ProductSectionHeader_Header">
        <h2 class="ProductSectionHeader_Title"><span class="category-name"></span> 해빗</h2>
        <span class="product-list-size"></span>
      </div>
    </div>
    <!-- 상품 목록 -->
    <div class="card-product-list-wrapper">
    </div>
    <!-- 페이징 -->
    <div>
      <div class="Wrapper_Paging">
        <div class="paging">
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      let categoryEngName = [[${categoryName}]];
    </script>
  </section>
</th:block>