<th:block xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/product/product-detail.css}">
    <script th:src="@{/js/product/product-detail.js}"></script>
    <script th:src="@{/js/product/option-modal.js}"></script>
  </head>

  <title>해빗 상세보기 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="PageWrapper">
    <div class="head-section-wrapper">
      <div class="image-slider">
        <div class="image-slides">
        </div>
        <img src="/img/arrow1.svg" class="prev image-prev">
        <img src="/img/arrow1.svg" class="next image-next">
      </div>
      <div class="product-info-wrapper">
        <div class="product-info">
          <div class="BasicInfoSection">
            <hgroup class="BasicInfoSection_Title">
              <h1 class="BIS_title"></h1>
            </hgroup>
            <div class="BasicInfoSection_Action">
              <button class="ButtonShare" type="button" name="ShareBtn">
                <img src="/img/share.png" alt="공유 아이콘">
              </button>
            </div>
          </div>
          <div class="product-price"></div>
        </div>
        <hr>
        <div class="host-info-wrapper">
          <div class="host-profile-wrapper">
            <img class="host-image" src="/img/host_default_img.webp" alt="호스트 이미지"/>
            <div class="host-nickname"></div>
          </div>
          <div class="host-info"></div>
        </div>
      </div>
    </div>
    <div class="ReviewSummary">
      <div class="ReviewSummary_info">
        <div class="review-star-wrapper">
        </div>
        <strong class="ReviewSummary_Aver"></strong>
        <span class="ReviewSummary_Count"><span class="review-count"></span> 개의 리뷰</span>
      </div>
    </div>
    <div class="Reviewblack">
      <div class="Reviewflex parent-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="see-more-review">
        <a th:href="@{/product/{productId}/review(productId=${productId})}" class="review_stylelink">모든 리뷰 보기 > </a>
      </div>
    </div>
    <div class="Classintroduction">
      <section class="ProductDetailPage">
        <article>
          <header class="Article_Header">
            <h2 class="Article_Header_title">해빗 소개</h2>
          </header>
          <div class="DescriptionSection_Container" style="max-height: 600px">
            <p class="product-description"></p>
          </div>
          <div class="DescriptionSection">
            <button type="button" class="Buttoninfo" id="detailButton">
              <span>상세정보 더보기</span>
              <div class="ButtonMore">
                <img class="arrow-icon" src="/img/arrow.svg">
              </div>
            </button>
          </div>
        </article>
      </section>
    </div>
    <section class="ProductDetailPage">
      <article>
        <header class="Article_Header">
          <h2 class="Article_Header_title">진행하는 장소</h2>
        </header>
        <div class="Classplace">
          <div id="map" style="width:100%;height:350px;"></div>
          <div class="address"></div>
        </div>
      </article>
    </section>
    <section class="ProductDetailPage">
      <article>
        <header class="Article_Header"><h2  class="Article_Header_title">해시 태그</h2></header>
        <div class="Classsupplies">
        </div>
      </article>
    </section>
    <section class="ProductDetailPage">
      <article>
        <div class="LinkAccordion">
          <div class="Accordion_Container">
            <div>유의 사항</div>
            <div class="Accordion_Icon"><img class ="Accordion_IconArrow" src="/img/accordion_arrow.svg"></div>
          </div>
          <div class="Accordion_Content" style="display: none">* 본문 내용 참고</div>
        </div>
      </article>
      <article>
        <div class="LinkAccordion">
          <div class="Accordion_Container">
            <div>환불 정책</div>
            <div class="Accordion_Icon"><img class ="Accordion_IconArrow" src="/img/accordion_arrow.svg"></div>
          </div>
          <div class="Accordion_Content" style="display: none">
            [날짜 조율형]
            1. 결제 후 7일 이내 취소 시 : 전액 환불
            (단, 결제 후 14일 이내라도 호스트와 해빗 진행일 예약 확정 후 환불 불가)
            2. 결제 후 14일 이후 취소 시 : 환불 불가
            ※ 상품의 유효기간 만료 시 연장은 불가합니다.
            ※ 다회권의 경우, 1회라도 사용시 부분 환불이 불가합니다.

            [날짜 지정형]
            1. 구매한 클래스 이용권 사용일 전 취소 시 : 전액 환불
            2. 구매한 클래스 이용권 사용일 이후 취소 시 : 환불 불가
            ※ 상품의 유효기간 만료 시 연장은 불가합니다.

            [환불 신청 방법]
            1. 해당 해빗 결제한 계정으로 로그인
            2. 마이해빗 - 신청내역 or 결제내역
          </div>
        </div>
      </article>
    </section>
    <div class="FloatingActionBar" id="FloatingActionBar" >
      <div class="FloatingButton">
        <button class="SaveActionButton wish-button" type="button">
          <img src="/img/black2.png" class="wish-button-image" alt="상품 찜">
          <span class="wish-count"></span>
        </button>
        <button class="ActionButton" id="openModalButton">
          <div class="DefaultButton">참여하기</div>
        </button>
      </div>
    </div>
    <!--아이템 옵션 모달창-->
    <div  id="productOptionsModal" class="Main_Wrapper">
      <div role="button" class="Toggle_Purch">
        <img src="data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M1.75 1.75L8.5 8.5L15.25 1.75' stroke='%23777777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E" class="Toggle_PurchIcon">
      </div>
      <div class="OptionBottomSheet">
        <div role="button" class="OptionSelect_Wrapper">
          <div class="OptionSelect_Title">
            <span>기본 옵션</span>
            <img src="/img/arrow.svg" class="arrow-icon">
          </div>
          <div class="OptionItem_Wrapper">
          </div>
        </div>
      </div>
      <div class="BottomContent_Wrapper">
        <div class="OptionBottomSheet_OptionItem">
          <strong class="OptionBottomSheet_Count">총 <span id="total_quantity">0</span>개</strong> <!--총수량-->
          <strong class="OptionBottomSheet_Price"><span id="total_price">0</span>원</strong> <!--총가격-->
        </div>
        <div class="OptionBottomSheet_ProductInfo">
          <button class="SaveActionButton wish-button" type="button">
            <input type="hidden" class="wish-id" value="">
            <img src="/img/black2.png" class="wish-button-image" id="cont_no${detail.cont_no}">
            <span class="SaveActionButton_Count wish-count"></span> <!--찜갯수-->
          </button>
          <button class="OptionBottomSheet_Button">장바구니</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=6cd9ccbff69ea4ecff8c4d402d1d27ad&libraries=services"></script>
    <script th:inline="javascript">
      let productId = [[${productId}]]
    </script>
  </section>
</th:block>