<th:block lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layouts/basic-layout :: basic-layout (~{::head}, ~{::title}, ~{::section})}">
  <head>
    <link rel="stylesheet" th:href="@{/css/product/product-review-list.css}">
    <script th:src="@{/js/product/product-review-list.js}"></script>
    <script th:src="@{/js/member/common/review-card.js}"></script>
  </head>

  <title>리뷰 목록 - 해빗(habit) : 세상 모든 취미 여가의 시작</title>

  <section class="PageWrapper">
    <div class="Home">
      <h1 class="review-count-container">리뷰 <span class="review-count"></span>개</h1>
      <div class="review-average-wrapper">
        <div class="review-average-container">
          <div class="review-average-image-container">
          </div>
          <span class="review-average">0.00</span>
        </div>
        <div class="order-by-button-container">
          <span class="order-by-button">최신순</span>
          <img class="order-by-arrow-image" src="/img/accordion_arrow2.svg">
          <div class="order-by-list">
            <input type="radio" name="orderBy" id="createAt" value="createAt" checked>
            <label for="createAt">최신순</label>
            <input type="radio" name="orderBy" id="reviewAveragedDesc" value="reviewAverageDesc">
            <label for="reviewAveragedDesc">평점 높은순</label>
            <input type="radio" name="orderBy" id="reviewAverageAsc" value="reviewAverageAsc">
            <label for="reviewAverageAsc">평점 낮은순</label>
          </div>
        </div>
      </div>
      <hr>
      <div class="review-card-container">
      </div>
      <div class="Wrapper_Paging">
        <div class="paging">
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      let productAltId = [[${productId}]]
    </script>
  </section>
</th:block>