<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="host-footer-fragment">
    <div class="footer">
      <div class="footer_wrap">
        <div>
          <strong>(주) Habit Broker</strong>
        </div>
        <div>
          깃허브 : <a href="https://github.com/newnyee/refactoring-habit">https://github.com/newnyee/refactoring-habit</a>
        </div>
        <div>
          <div>대표 : kim-jin | 개인정보 관리 책임자 : kim-jin</div>
        </div>
        <div>
          <a>개인정보 처리방침</a> |
          <a>이용약관</a> |
          <span>개인정보취급책임자 : kim-jin</span>
        </div>
        <div>
          <br>COPYRIGHT &copy;HABIT
        </div>
      </div>
    </div>
</th:block>