<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="host-nav-fragment">
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/host"><img src="/img/habit_logo.png" alt="HABIT" width="100px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/host" style="font-size: larger;">호스트 관리 페이지</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">내 정보</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/host/info">프로필/정산정보 관리</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">해빗 관리</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/host/product/list">해빗 목록</a>
              <a class="dropdown-item" href="/host/product/create">해빗 등록</a>
              <a class="dropdown-item" href="/host/product-ticket/list">회차형 해빗 판매 관리</a>
              <a class="dropdown-item" href="/host/product-reservation/list">예약형 해빗 예약 관리</a>
              <a class="dropdown-item" href="/host/product-review/list">리뷰 관리</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">정산 관리</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/host/invoice/list">정산서 관리</a>
              <a class="dropdown-item" href="/host/payment/list">지급서 관리</a>
            </div>
          </li>
        </ul>
        <div>
          <a href="/host/info"><img src="/img/host_default_img.webp" alt="" width="50px" height="50px" style="border-radius: 100%; margin: 0 10px;"></a>
          <a href="/host/info" style="text-decoration-line: none;"><span name="" style="padding-right: 20px;">HOST ID</span></a>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="habitHome()">해빗 홈으로 이동</button>
          <button type="button" class="btn btn-secondary btn-sm" onclick="habitHome()">로그아웃</button>
        </div>
      </div>
    </div>
  </nav>
  <hr>
</th:block>