/*================주 컨텐츠 ========================*/
.Home{
  position: relative;
  width: 840px;
  margin: 0 auto;
  padding:0 80px;
}

.review-average-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-count-container {
  font-size: 20px;
  font-weight: bold;
  margin: 22px 0 15px;
}

.review-average-container {
  display: flex;
  align-items: center;
}

.review-average-image-container img {
  width: 20px;
}

.review-average {
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
  color: #9d9a9a;
}

.order-by-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.order-by-button {
  border: 0;
  background-color: transparent;
}

.order-by-arrow-image {
  transform: rotate(90deg);
}

.order-by-list {
  display: none;
  border: solid 1px #808080b3;
  border-radius: 5px;
  position: absolute;
  top: 78px;
  right: 80px;
  background-color: white;
}

.order-by-list input {
  display: none;
  opacity: 0;
}

.order-by-list label {
  cursor: pointer;
  display: block;
  padding: 12px;
}

.order-by-list label:hover {
  background-color: rgba(128, 128, 128, 0.08);
}

.review-card {
  border: 1px solid rgba(210, 210, 210, 0.45);
  border-radius: 6px;
  padding: 25px 35px;
  margin: 10px 0 30px;
}

.review-card-header {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-profile-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.member-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-profile-image-container {
  margin-right: 15px;
}

.member-nick-name {
  font-weight: bold;
  margin-bottom: 7px;
}

.review_modify_btn{
  height: 23px;
  width: 45px;
  border-radius: 3px;
  border: none;
  font-size: small;
  color: white;
  background-color: #e83e8c;
}

.review_delete_btn {
  height: 23px;
  width: 45px;
  font-size: small;
  font-weight: bold;
  color: #e83e8c;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e83e8c;
}

.product-and-option-name-container {
  margin-bottom: 30px;
  font-size: small;
  color: gray;
}

.product-name {
  margin-bottom: 10px;
}

.review-star-score-container {
  font-size: small;
  display: flex;
  align-items: center;
}

.review-star-score-image-container img {
  width: 15px;
}

.review-star-score-container>span {
  font-size: small;
  color: gray;
  margin-left: 15px;
}

.review-content {
  display: flex;
}

.review-img-container {
  display: flex;
}

.review-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.review-card-content {
  margin-bottom: 20px;
}

.review-content-text {
  width: 100%;
  line-height: 25px;
}
