.PageWrapper {
  margin: 0 auto;
  width: 780px;
  padding: 0 20px;
}

.CategoryNav_Wrapper {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.CategoryNav_Wrapper>img {
  transform: rotate(90deg);
  width: 18px;
  height: 18px;
  vertical-align: initial;
}

.ItemList_Wrapper {
  color: black;
  padding-bottom: 20px;
  font-size: 12px;
}

.category-middle-name {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

/* 필터 모달 시작 */
.Filter__FilterButtonWrapper {
  padding-top: 5px;
  padding-bottom: 40px;
}

.FilterOpenButton{
  padding: 11px 20px;
  background-color: transparent;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  font-size: 14px;
}

.Filter_Container_Modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
}

.Filter_Wrapper_Modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  border-radius: 5px;
}

.Filter_HeaderWrapper {
  display: flex;
  justify-content: space-between;
  flex: 0 0 60px;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.FilterModalHeader_ModalTitle {
  padding-left: 22px;
  font-weight: bold;
}

.Filter_Button {
  background-color: white;
  border: none;
}

.FilterOther_Momo {
  padding: 0 40px;
  min-width: 360px;
  height: 446px;
}

.FilterOther_ModalSection {
  padding-top: 30px;
}

.FilterOthers_FilterTitle {
  padding-bottom: 20px;
  font-weight: bold;
}

.FilterRadio {
  font-family: inherit;
}

.FilterRadio_RadioInput {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

input[type=radio] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

input[type=radio]:checked {
  border: 0.4em solid #e83e8c;
}

input[type=radio]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

input[type=radio]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

.filter-radio {
  display: flex;
  justify-content: space-between;
}

.radio-box {
  margin-bottom: 15px;
}

.radio-box label:hover {
  cursor: pointer;
}

.Filter_FooterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Button_btn {
  width: 100%;
  height: 50px;
  background-color: #e83e8c;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: none;
}

.Filter_Overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
/* 필터 모달 끝 */

/* 본문 시작 */
.ProductSectionHeader_Wrapper {
  margin-bottom: 30px;
}

.ProductSectionHeader_Header {
  display: flex;
  font-size: 18px;
  line-height: 22px;
}

.ProductSectionHeader_Title {
  margin-right: 8px;
  font-weight: bold;
  color: black;
}
/* 본문 끝 */
