/*================주 컨텐츠 ========================*/
.PageWrapper {
  cursor: default;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
  background-repeat: no-repeat;
  box-sizing: inherit;
  outline: none;
  font-family: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  margin: 0px auto;
  max-width: 808px;
  width: 780px;
  padding: 0px 20px;
  min-height: 1px;
}

.ProductSectionHeader_Wrapper {
  cursor: default;
  -webkit-text-size-adjust: 100%;
  color: black;
  word-break: normal;
  overflow-wrap: break-word;
  background-repeat: no-repeat;
  box-sizing: inherit;
  outline: none;
  font-family: inherit;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 30px 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
}

.ProductSectionHeader_Header {
  display: flex;
  max-width: calc(100% - 62px);
  font-size: 18px;
  line-height: 22px;
}

.ProductSectionHeader_Title {
  display: block;
  margin-right: 8px;
  font-weight: bold;
  color: black;
  font-size: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*product*/

.card-product-list-wrapper {
  width: 100%;
  margin: 20px 0;
}

.card-product-wrapper {
  width: calc(100%/4);
  height: 350px;
  display: inline-block;
  float: left;
  padding: 7px;
}

.product-info-wrapper {
  font-size: 14px;
  text-align: left;
  padding: 13px;
  color: black;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.product-image {
  text-align: center;
}

.product-image>img {
  border-radius: 5%;
  width: 150px;
  height: 150px;
}

.product-name {
  margin-bottom: 15px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
}

.review-info {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.review-average {
  display: flex;
}

.review-star {
  width: 13px;
}

.review-count {
  margin-left: 15px;
  font-size: smaller;
  font-weight: normal;
}

.Home_recommend_hr {
  margin:10px 0;
}

.wish-button {
  background-color:transparent;
  border:none;
  transform: translate(105px,-50px);
  position: absolute;
  height: 35px;
  width: 40px;
}
