.Home{
  width: 840px;
  margin: 0 auto;
  padding:0 100px;
}

.Home_sub {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.Home_form{
  margin-bottom: 50px;
}

.emptying-cart{
  width: 120px;
  height: 30px;
  background-color: #dbdbdb;
  color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  font-size: 12px;
}

.cart-card-list{
  margin: 10px;
}

.cart-card {
  margin: 20px 0;
  width:100%;
  border:1px solid lightgray;
  border-radius:5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-product-image-container {
  margin: 20px;
  width: 150px;
  height: 150px;
}

.product-image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.selected-product-info-container {
  line-height: 25px;
  width: 240px;
}

.product-name {
  font-size: large;
  font-weight: bold;
}

.option-name {
  margin-bottom: 10px;
  color: gray;
}

.selected-option-quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 25px 20px 0;
}

.quantity {
  margin: 0 10px;
  width: 29px;
  text-align: center;
}

.checkTd{
  display:inline-block;
  margin-right:3px;
}

.show_pro_info>p{
  margin-bottom: 10px;
}

.Home_pro_name{
  font-size: 16px;
  font-weight: 600;
  padding-left:30px;
}

.Home_tr_wrapper{
  border: 0.5px solid #c3c3c3;
  border-radius: 20px;
}

.input_result{
  display: inline-block;
  width: 83px;
  border: none;
  text-align: center;
  background-color: white;
  font-weight: 600;
}

.input_result:focus{
  outline: none;
}

.Home_show_checkBox{
  position: relative;
  top: -200px;
  right: -80px;
  display: inline-block;
}

.Home_qty_btn_min{
  background-color: transparent;
  color: #e83e8c;
  font-weight: bold;
  border: 1px solid #e83e8c;
  width: 40px;
  border-radius: 3px;
}

.Home_qty_btn_plus{
  background-color: #e83e8c;
  color: white;
  border:none;
  width: 40px;
  border-radius: 3px;
}

.Homw_show_result{
  position: relative;
  margin-bottom: 20px;
}

.total-price-container {
  font-size: larger;
  font-weight: bold;
  display: inline-block;
  padding-left: 20px;
}

.total-price {
  padding-left: 15px;
}

.go_order{
  width:115px;
  height:40px;
  font-size: medium;
  background-color: #e83e8c;
  color:white;
  border-radius: 5px;
  border:none;
  float:right;
  margin-right: 20px;
  position: relative;
  top: -70px;
}

.empty-cart-container {
  margin: 50px;
  text-align: center;
}

.empty-cart {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: larger;
}

.go-home-button {
  cursor: pointer;
  border: 1px solid #e83e8c;
  color: #e83e8c;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}
