/*================주 컨텐츠 ========================*/
.Home{
  width: 840px;
  margin: 0 auto;
  padding:0 80px;
}

.review-count-container {
  font-weight: bold;
}

.review-card {
  border: 1px solid rgba(210, 210, 210, 0.45);
  border-radius: 6px;
  padding: 25px 35px;
  margin: 10px 0 30px;
}

.review-product-name-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review_modify_btn{
  height: 23px;
  width: 45px;
  border-radius: 3px;
  border: none;
  font-size: small;
  color: white;
  background-color: #e83e8c;
}

.review_delete_btn {
  height: 23px;
  width: 45px;
  font-size: small;
  font-weight: bold;
  color: #e83e8c;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e83e8c;
}

.review-product-name {
  font-weight: bold;
  font-size: large;
}

.review-option-name {
  margin-bottom: 10px;
  font-size: small;
  color: gray;
}

.review-star-score-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: small;
}

.review-star-score-container img {
  width: 15px;
}

.review-star-score-container>span {
  margin-left: 15px;
  color: gray;
}

.review-content {
  display: flex;
}

.review-content-img {
  display: flex;
}

.review-content-img > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.review-content-text {
  margin-bottom: 20px;
  width: 100%;
  line-height: 25px;
}

.see-more {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
  color: #e83e8c;
  background-color: white;
  border: 1px solid #e83e8c;
  border-radius: 8px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.see-more:hover {
  background-color: #e83e8c;
  color: white;
}
