/*================주 컨텐츠 ========================*/
.Home{
    width: 840px;
    margin: 0 auto;
    padding:0 100px;

}

.Home_myinfo{
    margin-top: 25px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

.Home_myinfo_name{
    padding-top: 15px;
}

.Home_myinfo_name2{
    font-weight: 600;
    padding-top: 15px;
    color: rgb(61, 61, 61);
}

.Home_myinfo_img>img{
    width: 100px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 100%;
}

.Home_myrecord{
    margin-bottom: 30px;
}

.Home_myrecord>a{
    color: black;
    font-size: 14px;
    display: inline-block;
    margin-right:38px;
}

.Home_myrecord_name{
    margin-bottom: 10px;
}

.Home_myrecord_num{
    font-weight: 600;
    padding-left: 5px;
}

.Home_form_input {
    margin: 5px auto;
    display: inline-block;
    width: 100%;
    --width: 340px;
    height: 50px;
    font-size: 15px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 2px;
    background-color: #f6f6f6;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

/*===========마이 활동 정보*/

.Home_myact_name{
    font-size: 14px;
    color: rgb(152, 152, 152);
    margin-bottom: 30px;
}
.Home_myact_order{
    margin-bottom: 40px;
    font-weight: 500;
    color: black;
}

.update-my-info:hover {
    cursor: pointer;
}

.check-password-button {
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: #e83e8c;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e83e8c;
}

.check-password-button:hover {
    color: white;
    background-color: #e83e8c;
    transition: 0.2s ease-out;
}

.modal-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 250;
    display: none;
    justify-content: center;
}

.modal-container {
    margin-top: 250px;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    margin: 10px;
    width: 400px;
    height: 230px;
}

.modal-content1>div {
    margin-bottom: 20px;
}

.modal-title1 {
    font-size: large;
    font-weight: bold;
}

